name: Secret Scanning

on:
  pull_request:
    branches: [ "main" ]

jobs:
  secrets:
    runs-on: ubuntu-latest
    steps:
      - name: Run scanner
        uses: LauraWangQiu/cicd-security-scanner@v0
        with:
          base_ref: main
