name: Secret Scanning

on:
  pull_request:
    branches: [ "main" ]

jobs:
  secrets:
    runs-on: ubuntu-latest
    steps:
      - name: Scan for secrets
        uses: LauraWangQiu/cicd-security-scanner/secrets@v1
        with:
          base_ref: main